* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  position: absolute;
  top: 10rem;
  margin: 0 auto;

}

.container .timer {
  font-size: 10rem;
  color: lightcoral;
  margin-bottom: 1.2rem;
  position: relative;
  left: 7rem;
}

.container .text {
  font-size: 7rem;
  color: lightsalmon;
  text-align: center;
  margin-bottom: 1.2rem;
}

.container .btn {
  margin-left: 11rem;
}
.container .btn .button {
  font-size: 5rem;
  color: lightpink;
}